%box
	box-sizing: border-box

@mixin numLabel($size: 11px)
	&:before,
	&:after
		width: 33px
		text-align: center
	&:before
		content: 'руб.'
		position: absolute
		bottom: 50%
		right: 5px
		margin-bottom: 2px
		padding-bottom: 2px
		border-bottom: 1px solid #AAA
		font-size: $size
	&:after
		content: 'мес.'
		position: absolute
		top: 50%
		right: 5px
		font-size: $size

.mortgage-page
	color: #000

	h2
		font-family: $default-font
		text-transform: uppercase
		color: #2fa909
		font-weight: bold
		text-align: center

	.intro
		margin: 20px 0

		p+p
			margin-top: 10px

	.profit
		margin-bottom: 40px

		&__list
			display: flex
			flex-direction: row

		&__item
			width: 25%
			margin-right: 10px
			border: 1px solid #efefef
			background: #efefef

			img
				width: 100%

		&__text
			padding: 15px
			line-height: 1.3

	.deal-scheme
		margin-bottom: 40px

		h2
			margin-bottom: 20px
			text-transform: uppercase
			text-align: center

		p
			line-height: 1.3

		&__list
			display: flex
			margin-bottom: 20px

		&__item
			position: relative
			width: 25%
			padding: 30px 0 15px 10px

			&:before
				content: ''
				position: absolute
				right: 0
				top: 0
				width: 50px
				height: 100%

			&:nth-child(1)
				background-color: #f2f2f2
			&:nth-child(2)
				padding-left: 20px
				background-color: #ddd
			&:nth-child(3)
				padding-left: 20px
				background: #be071f url('/pic/design/last-back.png') 0 0 no-repeat
				background-size: cover
				color: #FFF

			svg
				position: absolute
				right: -15px
				top: 0
				width: 30px
				height: 100%
				z-index: 1

		&__doc a
			color: #000

	.calc
		margin: 0 -10px

		&__content
			display: flex
			justify-content: space-between
			padding: 20px
			background: #EEE url('/pic/design/calc-back.jpg') 0 0 /cover no-repeat

		&__description
			@extend %box
			width: 50%
			padding-left: 70px


		&__form
			width: 48%

			h3
				margin: 0 -15px
				margin-bottom: 30px
				padding-bottom: 10px
				border-bottom: 1px solid #d0d0d0
				text-align: center
				text-transform: uppercase

			form
				width: 90%
				margin: 0 auto
				padding: 10px 15px 20px
				background: #fafafa
				box-shadow: 10px 10px 20px transparentize(#000, 0.9), -5px -5px 10px transparentize(#000, 0.95)
				border-radius: 5px

			.field
				margin-bottom: 5px
				font-size: 0.85rem

			label
				display: inline-block
				width: 40%
				padding-right: 10px
				text-align: right
				vertical-align: middle

			input
				@extend %box
				width: 41%
				padding: 5px 10px

				&.error
					border: 1px solid red

			button
				display: inline-block
				width: 41%
				height: 35px
				margin-left: calc(40% + 14px)
				background: #10bc08
				border: 0
				text-transform: uppercase
				outline: 0
				font-size: 0.9rem
				color: #FFF
				cursor: pointer

		&__result
			margin-top: 20px
			padding-top: 10px
			border-top: 1px solid #d0d0d0

		.result-sum
			display: block
			position: relative
			margin-bottom: 10px
			padding: 8px 50px 8px 0
			background: #FFF
			border: 1px solid #d0d0d0
			box-sizing: border-box
			font-size: 2.3rem
			text-align: right
			text-transform: uppercase

			@include numLabel

		.result-sum-small
			@extend %box
			position: relative
			display: inline-block
			min-width: 28%
			padding: 5px 47px 5px 5px
			border: 1px solid #d0d0d0
			background: #FFF
			color: #2ca80a
			vertical-align: middle
			font-weight: bold
			font-size: 1.6rem
			text-align: right

			@include numLabel(10px)

		.discount
			text-align: right

			.text
				@extend %box
				display: inline-block
				padding-right: 5px
				vertical-align: middle
				text-align: right

	.partners
		position: relative
		margin: 0 -10px
		padding: 30px 0 20px
		background: #cbcbcb

		h2
			margin: 0 0 40px
			color: #FFF

		.partners-carousel
			position: relative
			margin: 0 70px

		.partners-prev,
		.partners-next
			position: absolute
			top: 50%
			width: 56px
			height: 56px
			cursor: pointer
		.partners-prev
			left: 5px
			background: url('/pic/design/prev.png') 50% 50% no-repeat
		.partners-next
			right: 5px
			background: url('/pic/design/next.png') 50% 50% no-repeat

		a
			text-decoration: none
			color: #000

		p
			padding: 10px 10px 0
			border-top: 1px solid #e5e5e5

		b
			color: #b52b42
			font-weight: normal

		li
			display: inline-block
			width: 200px
			height: 130px
			margin-right: 10px
			padding: 15px 0
			background: #efefef
			text-align: center
			border: 1px solid #adadad

			&:hover
				background: #FFF

	.consultant-form
		margin: 0 -10px
		padding-top: 150px
		padding-bottom: 70px
		background: url('/pic/design/feedback-back.jpg') 0 0 /cover no-repeat

		h2
			position: absolute
			top: -40px
			left: 10px
			width: 349px
			height: 40px
			margin: 0
			background: url('/pic/design/title-back.png') 0 0 no-repeat
			text-transform: none
			color: #FFF
			font-weight: normal
			line-height: 41px

			&:after
				content: ''
				position: absolute
				left: 2px
				bottom: 0
				right: 0
				height: 6px
				background: linear-gradient(to top, transparentize(#000, 0.7), transparent)

		input
			@extend %box
			width: 50%
			margin-bottom: 10px
			padding: 20px
			background: #efefef
			border: 0

			&:last-of-type
				margin-bottom: 0

		textarea
			@extend %box
			position: absolute
			top: 10px
			right: 10px
			bottom: 40px
			width: calc(50% - 20px)
			padding: 20px
			resize: none

		fieldset
			@extend %box
			position: relative
			display: block
			width: 80%
			margin: 0 auto
			padding: 10px 10px 40px
			border: 0
			background: transparentize(#FFF, 0.2)

		.notice
			position: absolute
			right: 0
			bottom: 10px
			left: 0
			text-align: center

		&__submit
			position: absolute
			right: 20px
			bottom: -47px
			width: 270px
			height: 47px
			background: url('/pic/design/request-button.png') 0 0 / cover no-repeat
			border: 0
			color: #FFF
			font-size: 1.1rem
			outline: 0
			cursor: pointer
			text-align: right

			&:before
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				height: 6px
				background: linear-gradient(to bottom, transparentize(#000, 0.7), transparent)

			.ico
				margin-left: 10px

.calc-example

	h3
		margin-bottom: 28px

	li
		height: 20px
		line-height: 20px
		font-size: 0.9rem

		&.br
			margin-bottom: 22px
