.reset-default
	margin: 0
	padding: 0
	list-style-type: none

@mixin placeholder
	&::-webkit-input-placeholder,
	&:-moz-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder
		color: #000

%box
	box-sizing: border-box

.present-page
	color: #000

	h2
		font-family: $default-font
		text-transform: uppercase
		color: #b0052a
		font-weight: bold

	.banner
		margin-bottom: 15px

		img
			display: block

		&_round img
			border-radius: 5px

	.intro
		margin: 20px 0 55px

		p+p
			margin-top: 10px

	.profit
		margin-bottom: 50px

		&__item
			margin-bottom: 10px
			padding-left: 120px

			&:before
				content: url(/pic/design/list-bullet.png)
				display: inline-block
				margin: 0 10px 0 -120px
				vertical-align: middle

	.deal-scheme
		margin-bottom: 20px

		h3
			height: 30px
			margin-bottom: 20px
			text-transform: uppercase

		p
			line-height: 1.3

		&__list
			display: flex
			margin-bottom: 20px

		&__item
			position: relative
			width: 33.333%
			padding: 30px 0 15px 10px

			&:before
				content: ''
				position: absolute
				right: 0
				top: 0
				width: 50px
				height: 100%

			&:nth-child(1)
				background-color: #f2f2f2
			&:nth-child(2)
				padding-left: 20px
				background-color: #ddd
			&:nth-child(3)
				padding-left: 20px
				background: #be071f url('/pic/design/last-back.png') 0 0 no-repeat
				background-size: cover
				color: #FFF

			svg
				position: absolute
				right: -15px
				top: 0
				width: 30px
				height: 100%
				z-index: 1

		&__doc a
			color: #000

	.hot-offer
		margin-bottom: 20px

		h2
			margin: 0 -10px 20px
			padding: 15px 0 12px
			border: 1px solid #e3e1e1
			border-width: 1px 0
			text-align: center

		.more_obj_slider div.card_item
			width: 280px
			padding: 0
			background: #f2f2f2

		.more_obj_slider div.cards li
			background: none
			border: 0

	.consultant-form
		padding-top: 150px
		padding-bottom: 70px
		background: url('/pic/design/form-back.jpg') 0 0 no-repeat

		h2
			position: absolute
			top: -40px
			left: 0
			width: 349px
			height: 40px
			margin: 0
			padding-left: 10px
			background: url('/pic/design/form-title-back.png') 0 0 no-repeat
			text-transform: none
			color: #FFF
			font-weight: normal
			line-height: 40px

			&:after
				content: ''
				position: absolute
				left: 0
				bottom: 0
				right: 12px
				height: 6px
				background: linear-gradient(to top, transparentize(#000, 0.7), transparent)

		input
			@extend %box
			width: 50%
			margin-bottom: 10px
			padding: 20px

			&:last-of-type
				margin-bottom: 0

			@include placeholder

		textarea
			@extend %box
			position: absolute
			top: 10px
			right: 10px
			bottom: 40px
			width: calc(50% - 20px)
			padding: 20px
			resize: none

		fieldset
			@extend %box
			position: relative
			display: block
			width: 80%
			margin: 0 auto
			padding: 10px 10px 40px
			border: 0
			background: url('/pic/design/fieldset-back.jpg') 0 0 / cover no-repeat

		.notice
			position: absolute
			right: 0
			bottom: 10px
			left: 0
			text-align: center

		&__submit
			position: absolute
			right: 20px
			bottom: -47px
			width: 270px
			height: 47px
			background: url('/pic/design/request-button.png') 0 0 / cover no-repeat
			border: 0
			color: #FFF
			font-size: 1.1rem
			outline: 0
			cursor: pointer
			text-align: right

			&:before
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				height: 6px
				background: linear-gradient(to bottom, transparentize(#000, 0.7), transparent)

			.ico
				margin-left: 10px
