<link rel="stylesheet" type="text/css" href="/css/default.css">

<div class="present-page">

<div class="banner banner_round">
	<img src="/pic/design/top-banner.jpg" alt="">
</div>

<div class="intro">
<p>Планируете покупку квартиры на вторичном рынке жилья? Уже подобрали интересующий Вас вариант из базы квартир НДВ?
Мы проведем Вашу сделку комфортно и совершенно бесплатно для Вас!</p>

<p><strong>Все предложения , представленные в нашей базе, реализуются исключительно на эксклюзивных условиях.</strong></p>

<p>При выборе квартиры из базы НДВ-Недвижимость Вас будет полноценно сопровождать риелтор нашей компании  - Организует оперативный просмотр объекта – Организует подготовку и проведение Вашей сделки.</p>
</div>

<article class="profit">
	<h2>Покупая квартиру у нас вы получаете:</h2>

	<ul class="profit__list reset-default">
		<li class="profit__item"><strong>Бесплатные юридические</strong> консультации специалистов по вопросам покупки жилья</li>
		<li class="profit__item">Сопровождение сделки совершенно <strong>бесплатно</strong></li>
		<li class="profit__item">Вы получаете заключение о юридической чистоте квартиры от нашей компании</li>
	</ul>
</article>

<article class="deal-scheme">
	<h2>Схема сделки:</h2>

	<ul class="deal-scheme__list reset-default">
		<li class="deal-scheme__item">
			<h3><i class="ico ico-zoom"></i> Выбор квартиры</h3>
			<p>Выбираете квартиру из базы предложений НДВ. Совершаете звонок <b>+ 7 (495) 988-44-22</b> или <a href="/">оставляете заявку на просмотр объекта</a>.</p>
			<svg preserveAspectRatio="none" viewbox="0 0 100 100">
				<rect x="0" y="0" width="100" height="100" fill="#ddd" />
				<path d="M0 0 L100 50 L0 100 Z" fill="#f2f2f2" />
			</svg>
		</li>
		<li class="deal-scheme__item">
			<h3><i class="ico ico-eye"></i> Осмотр квартиры и сделка</h3>
			<p>Ваш риелтор организует просмотр квартиры и начнет процедуру подготовки к сделке.</p>
			<svg preserveAspectRatio="none" viewbox="0 0 100 100">
				<path d="M0 0 L100 50 L0 100 Z" fill="#ddd" />
			</svg>
		</li>
		<li class="deal-scheme__item">
			<h3><i class="ico ico-key"></i> Завершение сделки и получение ключей</h3>
			<p>Организуем полное сопровождение проведения Вашей сделки до момента получения ключей и заселения.</p>
		</li>
	</ul>

	<span class="deal-scheme__doc">
		<i class="ico ico-doc"></i> <a href="/">Пример документа гарантирующего покупку квартиры</a>
	</span>
</article>

<article class="hot-offer">
	<h2>ГОРЯЩИЕ ПРЕДЛОЖЕНИЯ КВАРТИР НДВ-НЕДВИЖИМОСТИ:</h2>

	<div id="more_obj_slider" align="center" class="more_obj_slider">
  <center>
  <table border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
      <td width="38" align="left"><button class="prev"></button></td>
      <td>
        <div class="cards">
          <ul>
            <li>
    <div class="card_item">
		<span style="display:none;"></span>
		<a href="/baza/27814-about/"><img src="http://media.ndv.ru/pic/base_novos/27814-mprev.jpg" alt="" class="photo" /></a>
		<p class="title"><a href="/baza/27814-about/">ЖК «Город»</a> <span>(<span class="subway">Петровско-Разумовская</span>)</span></p>
		<p class="info_block">
			<span class="info_block_title">Адрес: </span>МОСКВА, м. Петровско-Разумовская, ш. Дмитровское
		</p>
		<p class="info_block">
			<span class="info_block_title">Стоимость: </span>от 105 500руб./м<sup>2</sup>
		</p>
		<p class="info_block">
			<span class="info_block_title">Площадь: </span>от 32,6 м&#178; до 104,8 м&#178;
		</p>
    </div>
	</li>
	<li>
    <div class="card_item">
		<span style="display:none;"></span>
		<a href="/baza/24526-about/"><img src="http://media.ndv.ru/pic/base_novos/24526-mprev.jpg" alt="" class="photo" /></a>
		<p class="title"><a href="/baza/24526-about/">ЖК «Терлецкий парк»</a> <span>(<span class="subway">Перово</span>)</span></p>
		<p class="info_block">
			<span class="info_block_title">Адрес: </span>МОСКВА, м. Перово, ул. Новогиреевская, владение 5
		</p>
		<p class="info_block">
			<span class="info_block_title">Стоимость: </span>от 121 000руб./м<sup>2</sup>
		</p>
		<p class="info_block">
			<span class="info_block_title">Площадь: </span>от 38,5 м&#178; до 202,7 м&#178;
		</p>
    </div>
	</li>
	<li>
    <div class="card_item">
		<span style="display:none;"></span>
		<a href="/baza/6746-about/"><img src="http://media.ndv.ru/pic/base_novos/6746-mprev.jpg" alt="" class="photo" /></a>
		<p class="title"><a href="/baza/6746-about/">ЖК «Ленинградский»</a> <span>(<span class="subway">Речной вокзал</span>)</span></p>
		<p class="info_block">
			<span class="info_block_title">Адрес: </span>Химки, м. Речной вокзал, ул. 9 Мая пересечение с ул. М. Рубцовой
		</p>
		<p class="info_block">
			<span class="info_block_title">Стоимость: </span>от 85 500руб./м<sup>2</sup>
		</p>
		<p class="info_block">
			<span class="info_block_title">Площадь: </span>от 24,4 м&#178; до 82,7 м&#178;
		</p>
    </div>
</li>
<li>
    <div class="card_item">
		<span style="display:none;"></span>
		<a href="/baza/27928-about/"><img src="http://media.ndv.ru/pic/base_novos/27928-mprev.jpg" alt="" class="photo" /></a>
		<p class="title"><a href="/baza/27928-about/">Квартал «Ривер Парк»</a> <span>(<span class="subway">Коломенская</span>)</span></p>
		<p class="info_block">
			<span class="info_block_title">Адрес: </span>МОСКВА, м. Коломенская, ул. Коломенская
		</p>
		<p class="info_block">
			<span class="info_block_title">Стоимость: </span>от 180 000руб./м<sup>2</sup>
		</p>
		<p class="info_block">
			<span class="info_block_title">Площадь: </span>от 38,9 м&#178; до 78,8 м&#178;
		</p>
    </div>
</li>
<li>
    <div class="card_item">
		<span style="display:none;"></span>
		<a href="/baza/23052-about/"><img src="http://media.ndv.ru/pic/base_novos/23052-mprev.jpg" alt="" class="photo" /></a>
		<p class="title"><a href="/baza/23052-about/">ЖК «Мытищи Lite»</a> <span>(<span class="subway">Мытищи</span>)</span></p>
		<p class="info_block">
			<span class="info_block_title">Адрес: </span>Мытищи, ш. Осташковское (6.0 км. от МКАД), ш. Осташковское
		</p>
		<p class="info_block">
			<span class="info_block_title">Стоимость: </span>от 64 000руб./м<sup>2</sup>
		</p>
		<p class="info_block">
			<span class="info_block_title">Площадь: </span>от 31,8 м&#178; до 91,8 м&#178;
		</p>
    </div>
</li>
<li>
    <div class="card_item">
		<span style="display:none;"></span>
		<a href="/baza/2021-about/"><img src="http://media.ndv.ru/pic/base_novos/2021-mprev.jpg" alt="" class="photo" /></a>
		<p class="title"><a href="/baza/2021-about/">Мкр. «Новокосино-2»</a> <span>(<span class="subway">Новокосино</span>)</span></p>
		<p class="info_block">
			<span class="info_block_title">Адрес: </span>Реутов, м. Новокосино, ул. Челомея, мкр. 10
		</p>
		<p class="info_block">
			<span class="info_block_title">Стоимость: </span>от 82 000руб./м<sup>2</sup>
		</p>
		<p class="info_block">
			<span class="info_block_title">Площадь: </span>от 24,5 м&#178; до 96,6 м&#178;
		</p>
    </div>
</li>
<li>
    <div class="card_item">
		<span style="display:none;"></span>
		<a href="/baza/3741-about/"><img src="http://media.ndv.ru/pic/base_novos/3741-mprev.jpg" alt="" class="photo" /></a>
		<p class="title"><a href="/baza/3741-about/">ЖК «Планерный»</a> <span>(<span class="subway">Химки</span>)</span></p>
		<p class="info_block">
			<span class="info_block_title">Адрес: </span>Химки, ш. Ленинградское (8.0 км. от МКАД), ул. Молодежная
		</p>
		<p class="info_block">
			<span class="info_block_title">Стоимость: </span>от 104 500руб./м<sup>2</sup>
		</p>
		<p class="info_block">
			<span class="info_block_title">Площадь: </span>от 23,9 м&#178; до 86,6 м&#178;
		</p>
    </div>
</li>
<li>
    <div class="card_item">
		<span style="display:none;"></span>
		<a href="/baza/28452-about/"><img src="http://media.ndv.ru/pic/base_novos/28452-mprev.jpg" alt="" class="photo" /></a>
		<p class="title"><a href="/baza/28452-about/">ЖК «Андреевка»</a> <span>(<span class="subway">пгт Андреевка</span>)</span></p>
		<p class="info_block">
			<span class="info_block_title">Адрес: </span>пгт Андреевка, ш. Пятницкое (15.0 км. от МКАД), ул. Ясная
		</p>
		<p class="info_block">
			<span class="info_block_title">Стоимость: </span>от 50 000руб./м<sup>2</sup>
		</p>
		<p class="info_block">
			<span class="info_block_title">Площадь: </span>от 22,8 м&#178; до 90,3 м&#178;
		</p>
    </div>
</li>
<li>
    <div class="card_item">
		<span style="display:none;"></span>
		<a href="/baza/9391-about/"><img src="http://media.ndv.ru/pic/base_novos/9391-mprev.jpg" alt="" class="photo" /></a>
		<p class="title"><a href="/baza/9391-about/">ЖК «Новокосино»</a> <span>(<span class="subway">Новокосино</span>)</span></p>
		<p class="info_block">
			<span class="info_block_title">Адрес: </span>Реутов, м. Новокосино, ш. Носовихинское
		</p>
		<p class="info_block">
			<span class="info_block_title">Стоимость: </span>от 118 500руб./м<sup>2</sup>
		</p>
		<p class="info_block">
			<span class="info_block_title">Площадь: </span>от 27,8 м&#178; до 120,4 м&#178;
		</p>
    </div>
</li>
<li>
    <div class="card_item">
		<span style="display:none;"></span>
		<a href="/baza/15427-about/"><img src="http://media.ndv.ru/pic/base_novos/15427-mprev.jpg" alt="" class="photo" /></a>
		<p class="title"><a href="/baza/15427-about/">Мкр. «Мегаполис»</a> <span>(<span class="subway">Новокосино</span>)</span></p>
		<p class="info_block">
			<span class="info_block_title">Адрес: </span>МОСКВА, м. Новокосино, ул. Салтыковская
		</p>
		<p class="info_block">
			<span class="info_block_title">Стоимость: </span>от 115 000руб./м<sup>2</sup>
		</p>
		<p class="info_block">
			<span class="info_block_title">Площадь: </span>от 38,0 м&#178; до 96,0 м&#178;
		</p>
    </div>
</li>
<li>
    <div class="card_item">
		<span style="display:none;"></span>
		<a href="/baza/8425-about/"><img src="http://media.ndv.ru/pic/base_novos/8425-mprev.jpg" alt="" class="photo" /></a>
		<p class="title"><a href="/baza/8425-about/">Мкр. «Царицыно-2»</a> <span>(<span class="subway">Царицыно</span>)</span></p>
		<p class="info_block">
			<span class="info_block_title">Адрес: </span>МОСКВА, м. Царицыно, ул. Элеваторная
		</p>
		<p class="info_block">
			<span class="info_block_title">Стоимость: </span>от 113 500руб./м<sup>2</sup>
		</p>
		<p class="info_block">
			<span class="info_block_title">Площадь: </span>от 37,8 м&#178; до 104,6 м&#178;
		</p>
    </div>
</li>
<li>
    <div class="card_item">
		<span style="display:none;"></span>
		<a href="/baza/1375-about/"><img src="http://media.ndv.ru/pic/base_novos/1375-mprev.jpg" alt="" class="photo" /></a>
		<p class="title"><a href="/baza/1375-about/">Мкр. «Царицыно»</a> <span>(<span class="subway">Царицыно</span>)</span></p>
		<p class="info_block">
			<span class="info_block_title">Адрес: </span>МОСКВА, м. Царицыно, ул. Элеваторная
		</p>
		<p class="info_block">
			<span class="info_block_title">Стоимость: </span>от 118 000руб./м<sup>2</sup>
		</p>
		<p class="info_block">
			<span class="info_block_title">Площадь: </span>от 45,7 м&#178; до 124,0 м&#178;
		</p>
    </div>
</li>

          </ul>
        </div>
      </td>
      <td width="26" align="right"><button class="next"></button></td>
    </tr>
  </table>
  </center>
</div>
<script>SliderObjMore();</script>
</article>

<section class="consultant-form">
	<form action="." method="POST" class="consultant-form__form">
		<fieldset>
			<h2>Получите консультацию уже сегодня:</h2>
			<input type="text" placeholder="ВАШЕ ИМЯ:">
			<input type="text" placeholder="ЭЛ. ПОЧТА:">
			<input type="text" placeholder="ВЫБЕРИТЕ ОБЪЕКТ">
			<textarea placeholder="СООБЩЕНИЕ:"></textarea>
			<p class="notice">Поля, помеченные звездочкой (*) обязательны для заполнения!</p>
			<button class="consultant-form__submit" type="submit">Отправить заявку <i class="ico ico-airplane"></i></button>
		</fieldset>
	</form>
</section>

</div>
