<link rel="stylesheet" type="text/css" href="/css/default.css">

<div class="mortgage-page">

	<div class="banner banner_round">
		<img src="/pic/design/top-banner.jpg" alt="">
	</div>

	<div class="intro">
		<p>Планируете покупку квартиры на вторичном рынке жилья? Уже подобрали интересующий Вас вариант из базы квартир НДВ?
		Мы проведем Вашу сделку комфортно и совершенно бесплатно для Вас!</p>

		<p><strong>Все предложения , представленные в нашей базе, реализуются исключительно на эксклюзивных условиях.</strong></p>

		<p>При выборе квартиры из базы НДВ-Недвижимость Вас будет полноценно сопровождать риелтор нашей компании  - Организует оперативный просмотр объекта – Организует подготовку и проведение Вашей сделки.</p>
	</div>

	<article class="profit">
		<ul class="profit__list reset-default">
			<li class="profit__item">
				<img src="/pic/design/1.jpg">
				<div class="profit__text"><strong>Бесплатные юридические</strong> консультации специалистов по вопросам покупки жилья</div>
			</li>
			<li class="profit__item">
				<img src="/pic/design/2.jpg">
				<div class="profit__text">Сопровождение сделки совершенно <strong>бесплатно</strong></div>
			</li>
			<li class="profit__item">
				<img src="/pic/design/3.jpg">
				<div class="profit__text">Вы получаете заключение о юридической чистоте квартиры от нашей компании</div>
			</li>
			<li class="profit__item">
				<img src="/pic/design/4.jpg">
				<div class="profit__text">Вы получаете заключение о юридической чистоте квартиры от нашей компании</div>
			</li>
		</ul>
	</article>

	<article class="deal-scheme">
		<h2>Схема сделки</h2>

		<ul class="deal-scheme__list reset-default">
			<li class="deal-scheme__item">
				<h3>Вы обращаетесь, мы консультируем!</h3>
				<p>Выбираете квартиру из базы предложений НДВ. Совершаете звонок <b>+ 7 (495) 988-44-22</b> или <a href="/">оставляете заявку на просмотр объекта</a>.</p>
			</li>
			<li class="deal-scheme__item">
				<h3>Осмотр квартиры и сделка</h3>
				<p>Ваш риелтор организует просмотр квартиры и начнет процедуру подготовки к сделке.</p>
			</li>
			<li class="deal-scheme__item">
				<h3>Завершение сделки и получение ключей</h3>
				<p>Организуем полное сопровождение проведения Вашей сделки до момента получения ключей и заселения.</p>
			</li>
			<li class="deal-scheme__item">
				<h3>Завершение сделки и получение ключей</h3>
				<p>Организуем полное сопровождение проведения Вашей сделки до момента получения ключей и заселения.</p>
			</li>
		</ul>
	</article>

	<article class="calc">
		<h2>Расчет ипотеки</h2>

		<div class="calc__content">
			<section class="calc__description calc-example">
				<h3>Пример предварительного расчета</h3>
				<ul class="reset-default">
					<li>Стоимость объекта - 6 000 000 Р.</li>
					<li class="br">Первоначальный взнос - 3 000 000 Р.</li>
					<li class="br">Срок: 120 месяцев</li>
					<li class="br">При ставке 13.5%</li>
					<li class="br">Ежемесячный платеж 45 683 Р.</li>
					<li>С учетом преференции НДВ ставка 13%</li>
					<li>Ежемесячный платеж - 44 793 Р.</li>
				</ul>
			</section>
			<section class="calc__form">
				<form action="." method="POST">
					<h3>Ипотечный калькулятор</h3>
					<ul class="reset-default">
						<li class="field">
							<label>Стоимость объекта</label>
							<input name="price" type="text" required> Руб.
						</li>
						<li class="field">
							<label>Первоначальный взнос</label>
							<input name="initialpayment" type="text" required> Руб.
						</li>
						<li class="field">
							<label>Срок</label>
							<input name="period" type="text" required> месяцев
						</li>
						<li class="field">
							<label>При ставке</label>
							<input name="rate" type="text" required> %
						</li>
					</ul>
					<button type="submit">Расчет выплаты</button>
					<div class="calc__result">
						<span class="result-sum">0</span>
						<div class="discount">
							<span class="text">
							С учетом преференции НДВ ставка 13%<br>
							Ежемесячный платеж:
							</span>
							<span class="result-sum-small">0</span>
						</div>
					</div>
				</form>
			</section>
		</div>
	</article>
	<script>
	(function() {
		/* eslint-disable */
		function format (number) {
			return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
		}

		var MortgageCalc = {
			initialize: function() {
				var $container = $('.calc');
				MortgageCalc.fields = {
					price: $container.find('[name="price"]'),
					initialpayment: $container.find('[name="initialpayment"]'),
					period: $container.find('[name="period"]'),
					rate: $container.find('[name="rate"]')
				};
				$container.find('[name="price"]').on('keyup', function(evt) {
						if (evt.keyCode >= 48 && evt.keyCode <= 57) {
							$(this).val(format(this.value.replace(/\s/g, '')).trim());
						}
				});
				$('.calc form').on('submit', function(evt) {
					evt.preventDefault();
					if (!MortgageCalc.validate()) {
						return;
					}
					$container.find('.result-sum').text(format(MortgageCalc.getMonthlyPayment().toFixed()));
					$container.find('.result-sum-small').text(format(MortgageCalc.getPreferenceMonthlyPayment().toFixed()));
				});
			},
			validate: function() {
				var isValid = true;
				isValid = Object.keys(MortgageCalc.fields).every(function (fieldName) {
					if (MortgageCalc.getFieldVal(fieldName) === 0) {
						MortgageCalc.fields[fieldName].addClass('error');
						return false;
					}
					return true;
				});
				if (MortgageCalc.getFieldVal('initialpayment') > MortgageCalc.getFieldVal('price')) {
					MortgageCalc.fields['initialpayment'].addClass('error');
					isValid = false;
				}
				return isValid;
			},
			getFieldVal: function(fieldName) {
				if (!MortgageCalc.fields[fieldName]) {
					return 0;
				}
				return parseFloat(MortgageCalc.fields[fieldName].val().replace(/\s/g, '')) || 0;
			},
			getMonthlyPayment: function() {
				var getVal = MortgageCalc.getFieldVal;
				var monthRateNormalized = getVal('rate') / 12 / 100;
				return (getVal('price') - getVal('initialpayment')) * (monthRateNormalized / (1 - Math.pow(1 + monthRateNormalized, -1 * getVal('period'))));
			},
			getPreferenceMonthlyPayment: function() {
				return MortgageCalc.getMonthlyPayment() * 0.95;
			}
		};
		MortgageCalc.initialize();
	})();
	</script>

	<section class="partners">
		<h2>Банки партнеры</h2>
		<div class="partners-carousel">
			<ul class="partners__list reset-default">
				<li>
				<a href="/">
					<img class="logo" src="/pic/design/partner-logo.png" alt="">
					<p>
						Первоначальный взнос: от <b>20</b>%<br>
						Процентная ставка: от <b>12</b>%<br>
						Срок: до <b>30</b> лет
					</p>
				</a>
				</li>
				<li>
				<a href="/">
					<img class="logo" src="/pic/design/partner-logo.png" alt="">
					<p>
						Первоначальный взнос: от <b>20</b>%<br>
						Процентная ставка: от <b>12</b>%<br>
						Срок: до <b>30</b> лет
					</p>
				</a>
				</li>
				<li>
				<a href="/">
					<img class="logo" src="/pic/design/partner-logo.png" alt="">
					<p>
						Первоначальный взнос: от <b>20</b>%<br>
						Процентная ставка: от <b>12</b>%<br>
						Срок: до <b>30</b> лет
					</p>
				</a>
				</li>
				<li>
				<a href="/">
					<img class="logo" src="/pic/design/partner-logo.png" alt="">
					<p>
						Первоначальный взнос: от <b>20</b>%<br>
						Процентная ставка: от <b>12</b>%<br>
						Срок: до <b>30</b> лет
					</p>
				</a>
				</li>
				<li>
				<a href="/">
					<img class="logo" src="/pic/design/partner-logo.png" alt="">
					<p>
						Первоначальный взнос: от <b>20</b>%<br>
						Процентная ставка: от <b>12</b>%<br>
						Срок: до <b>30</b> лет
					</p>
				</a>
				</li>
			</ul>
		</div>
		<span class="partners-prev"></span>
		<span class="partners-next"></span>
	</section>
	<script>
		$('.partners-carousel').jCarouselLite({
			visible: 4,
			btnNext: '.partners-next',
			btnPrev: '.partners-prev'
		});
	</script>

	<section class="consultant-form">
		<form action="." method="POST" class="consultant-form__form">
			<fieldset>
				<h2>Получите консультацию уже сегодня:</h2>
				<input type="text" placeholder="ВАШЕ ИМЯ:">
				<input type="text" placeholder="ЭЛ. ПОЧТА:">
				<input type="text" placeholder="ВЫБЕРИТЕ ОБЪЕКТ">
				<textarea placeholder="СООБЩЕНИЕ:"></textarea>
				<p class="notice">Поля, помеченные звездочкой (*) обязательны для заполнения!</p>
				<button class="consultant-form__submit" type="submit">Отправить заявку <i class="ico ico-airplane"></i></button>
			</fieldset>
		</form>
	</section>

</div>
