.ico
	display: inline-block
	margin-right: 5px
	vertical-align: middle

	&.ico-zoom
		@include sprite($ico-zoom)
	&.ico-eye
		@include sprite($ico-eye)
	&.ico-key
		@include sprite($ico-key)
	&.ico-airplane
		@include sprite($ico-airplane)
	&.ico-doc
		@include sprite($ico-doc)
