/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$ico-airplane-name: 'ico-airplane'
$ico-airplane-x: 88px
$ico-airplane-y: 0px
$ico-airplane-offset-x: -88px
$ico-airplane-offset-y: 0px
$ico-airplane-width: 22px
$ico-airplane-height: 22px
$ico-airplane-total-width: 110px
$ico-airplane-total-height: 110px
$ico-airplane-image: '/pic/design/sprite.png'
$ico-airplane: (88px, 0px, -88px, 0px, 22px, 22px, 110px, 110px, '/pic/design/sprite.png', 'ico-airplane', )
$ico-bubble-name: 'ico-bubble'
$ico-bubble-x: 44px
$ico-bubble-y: 0px
$ico-bubble-offset-x: -44px
$ico-bubble-offset-y: 0px
$ico-bubble-width: 44px
$ico-bubble-height: 40px
$ico-bubble-total-width: 110px
$ico-bubble-total-height: 110px
$ico-bubble-image: '/pic/design/sprite.png'
$ico-bubble: (44px, 0px, -44px, 0px, 44px, 40px, 110px, 110px, '/pic/design/sprite.png', 'ico-bubble', )
$ico-calc-name: 'ico-calc'
$ico-calc-x: 88px
$ico-calc-y: 66px
$ico-calc-offset-x: -88px
$ico-calc-offset-y: -66px
$ico-calc-width: 18px
$ico-calc-height: 22px
$ico-calc-total-width: 110px
$ico-calc-total-height: 110px
$ico-calc-image: '/pic/design/sprite.png'
$ico-calc: (88px, 66px, -88px, -66px, 18px, 22px, 110px, 110px, '/pic/design/sprite.png', 'ico-calc', )
$ico-check-name: 'ico-check'
$ico-check-x: 36px
$ico-check-y: 44px
$ico-check-offset-x: -36px
$ico-check-offset-y: -44px
$ico-check-width: 44px
$ico-check-height: 30px
$ico-check-total-width: 110px
$ico-check-total-height: 110px
$ico-check-image: '/pic/design/sprite.png'
$ico-check: (36px, 44px, -36px, -44px, 44px, 30px, 110px, 110px, '/pic/design/sprite.png', 'ico-check', )
$ico-doc-name: 'ico-doc'
$ico-doc-x: 0px
$ico-doc-y: 88px
$ico-doc-offset-x: 0px
$ico-doc-offset-y: -88px
$ico-doc-width: 18px
$ico-doc-height: 22px
$ico-doc-total-width: 110px
$ico-doc-total-height: 110px
$ico-doc-image: '/pic/design/sprite.png'
$ico-doc: (0px, 88px, 0px, -88px, 18px, 22px, 110px, 110px, '/pic/design/sprite.png', 'ico-doc', )
$ico-eye-name: 'ico-eye'
$ico-eye-x: 36px
$ico-eye-y: 74px
$ico-eye-offset-x: -36px
$ico-eye-offset-y: -74px
$ico-eye-width: 22px
$ico-eye-height: 14px
$ico-eye-total-width: 110px
$ico-eye-total-height: 110px
$ico-eye-image: '/pic/design/sprite.png'
$ico-eye: (36px, 74px, -36px, -74px, 22px, 14px, 110px, 110px, '/pic/design/sprite.png', 'ico-eye', )
$ico-key-name: 'ico-key'
$ico-key-x: 88px
$ico-key-y: 22px
$ico-key-offset-x: -88px
$ico-key-offset-y: -22px
$ico-key-width: 22px
$ico-key-height: 22px
$ico-key-total-width: 110px
$ico-key-total-height: 110px
$ico-key-image: '/pic/design/sprite.png'
$ico-key: (88px, 22px, -88px, -22px, 22px, 22px, 110px, 110px, '/pic/design/sprite.png', 'ico-key', )
$ico-key2-name: 'ico-key2'
$ico-key2-x: 0px
$ico-key2-y: 0px
$ico-key2-offset-x: 0px
$ico-key2-offset-y: 0px
$ico-key2-width: 44px
$ico-key2-height: 44px
$ico-key2-total-width: 110px
$ico-key2-total-height: 110px
$ico-key2-image: '/pic/design/sprite.png'
$ico-key2: (0px, 0px, 0px, 0px, 44px, 44px, 110px, 110px, '/pic/design/sprite.png', 'ico-key2', )
$ico-page-name: 'ico-page'
$ico-page-x: 0px
$ico-page-y: 44px
$ico-page-offset-x: 0px
$ico-page-offset-y: -44px
$ico-page-width: 36px
$ico-page-height: 44px
$ico-page-total-width: 110px
$ico-page-total-height: 110px
$ico-page-image: '/pic/design/sprite.png'
$ico-page: (0px, 44px, 0px, -44px, 36px, 44px, 110px, 110px, '/pic/design/sprite.png', 'ico-page', )
$ico-zoom-name: 'ico-zoom'
$ico-zoom-x: 88px
$ico-zoom-y: 44px
$ico-zoom-offset-x: -88px
$ico-zoom-offset-y: -44px
$ico-zoom-width: 22px
$ico-zoom-height: 22px
$ico-zoom-total-width: 110px
$ico-zoom-total-height: 110px
$ico-zoom-image: '/pic/design/sprite.png'
$ico-zoom: (88px, 44px, -88px, -44px, 22px, 22px, 110px, 110px, '/pic/design/sprite.png', 'ico-zoom', )
$spritesheet-width: 110px
$spritesheet-height: 110px
$spritesheet-image: '/pic/design/sprite.png'
$spritesheet-sprites: ($ico-airplane, $ico-bubble, $ico-calc, $ico-check, $ico-doc, $ico-eye, $ico-key, $ico-key2, $ico-page, $ico-zoom, )
$spritesheet: (110px, 110px, '/pic/design/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
